.vscode/
__pycache__/
migrations/
/data/board/alembic.ini
myvenv/
public/
/data/board/frontend/.env
/data/board/myapi.db
/data/python/app/frontend/svelte.config.js
/data/python/app/frontend/vite.config.js
test_init/
