/data/python/app/test_init
/data/python/app/*/__pycache__
/data/python/app/*/.vscode
/data/python/app/__pycache__
/data/python/app/.vscode
/data/python/app/tool/__pycache__
/data/restaurant/node_modules/
/data/restaurant/.vscode/
/data/restaurant/__pycache__/
/data/restaurant/rest/
/
/.vscode/
/__pycache__/
/data/node/node_modules/
/data/board/migrations/
/data/board/__pycache__/
/data/board/myapi.db
/data/board/domain/*/__pycache__/
/data/board/myvenv/
/FastAPI/migrations/
/FastAPI/__pycache__/
/FastAPI/py/
