version: '3'
services:
  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    env_file:
      - 'BrainWheel_BE/data/influxdb/env.influxdb'
    volumes:
      # Data persistency
      - './BrainWheel_BE/data/influxdb/data:/root/.influxdb'
      - './BrainWheel_BE/data/influxdb/etc:/etc/influxdb/:ro'
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    env_file:
      - 'BrainWheel_BE/data/grafana/env.grafana'
    volumes:
      - './BrainWheel_BE/data/grafana:/var/lib/grafana'
    links:
      - influxdb
    restart: always

  mysql:
    image: mysql:latest
    container_name: mysql
    ports:
      - "3306:3306"
    env_file:
      - 'BrainWheel_BE/data/mysql/env.mysql'
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - './BrainWheel_BE/data/mysql/data:/var/lib/mysql'
      - './BrainWheel_BE/data/mysql/etc:/etc/mysql/conf.d'
    restart: always

  node:
    image: node:lts
    container_name: node
    ports:
      - '3001:3001'
    volumes:
      - './BrainWheel_BE/data/node:/app'
    working_dir: '/app'
    command: 'npm start'
    restart: always

  api:
    build:
      context: ./BrainWheel_BE/data/python
      dockerfile: Dockerfile
    container_name: api
    working_dir: /code
    command: uvicorn main:app --host 0.0.0.0 --port 5000 --reload
    ports:
      - "5000:5000"
    volumes:
      - ./BrainWheel_BE/data/python/app:/code
    restart: always