version: '3'
services:
  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    env_file:
      - 'Python_BrainWheel_BE/data/influxdb/env.influxdb'
    volumes:
      # Data persistency
      - './Python_BrainWheel_BE/data/influxdb/data:/root/.influxdb'
      - './Python_BrainWheel_BE/data/influxdb/etc:/etc/influxdb/:ro'
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    env_file:
      - 'Python_BrainWheel_BE/data/grafana/env.grafana'
    volumes:
      - './Python_BrainWheel_BE/data/grafana:/var/lib/grafana'
    links:
      - influxdb
    restart: always

  mysql:
    image: mysql:latest
    container_name: mysql
    ports:
      - "3306:3306"
    env_file:
      - 'Python_BrainWheel_BE/data/mysql/env.mysql'
    volumes:
      - './Python_BrainWheel_BE/data/mysql/data:/var/lib/mysql'
      - './Python_BrainWheel_BE/data/mysql/etc:/etc/mysql/conf.d'
    restart: always

  node:
    image: node:lts
    container_name: node
    ports:
      - '3001:3001'
      - '80:80'
    volumes:
      - './Python_BrainWheel_BE/data/node:/app'
    working_dir: '/app'
    command: 'npm start'
    restart: always
    
  fastapi:
    build:
      context: ./Python_BrainWheel_BE/data/python
      dockerfile: Dockerfile
    working_dir: /code
    command: uvicorn main:app --host 0.0.0.0 --port 5000
    expose:
      - 5000
    volumes:
      - ./Python_BrainWheel_BE/data/python:/code
    restart: always